# cp terraform.tfvars.example terraform.tfvars
#
# terraform/ 과 같은 계정을 가리켜야 한다. 상태 버킷이 거기 있다.

aws_profile         = "lunchcatch"
allowed_account_ids = ["000000000000"]

# Route 53 에서 등록한 도메인. 호스팅 영역이 이 계층에 산다 (dns.tf). 없으면 비운다
zone_name = "lunchcatch.com"
